.ipynb_checkpoints
./images/me_309_old
server
server/node_modules
Python
./scripts/server_connection.js
./scripts/remote_dogfight.js
*.txt
test.html
*.pdn
images/not-active/*
ww2planegame_mac.html
.DS_Store
sounds/not-active/*
*.ogg
*.ignore