.ipynb_checkpoints
./images/me_309_old
server/old
server/node_modules
Python
./scripts/server_connection.js
./scripts/remote_dogfight.js
*.txt
test.html
*.pdn
images/not-active/*
ww2planegame_mac.html
.DS_Store
sounds/not-active/*
*.ogg
*.ignore
backups/*
test_difficulties.html
test_random.html
data/user_data_mac.js
/user_guide/originals
